#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |    Y    |    U    |    I    |    O    |    P    |    \    |  BSPC   |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |    H    |    J    |    K    |    L    |    ;    |    '    | RETURN  |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |    N    |    M    |    ,    |    .    |    /    |   UP    |         |
//                               |   GUI   |   DEL   | RETURN  |   TAB   |   BSPC  |  R ALT  |         |  LEFT   |  DOWN   |  RIGHT  |
            bindings = <
    &kp ESC    &kp Q    &kp W    &kp E     &kp R     &kp T      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH  &kp BSPC
    &kp TAB    &kp A    &kp S    &kp D     &kp F     &kp G      &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp RET
    &kp LSHIFT &kp Z    &kp X    &kp C     &kp V     &kp B      &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp UP    &kp SPACE
    &kp LCTRL  &LGUI    &kp LALT &kp LGUI  &mo 1     &kp SPACE  &kp SPACE &mo 2     &kp RALT  &kp RCTRL &kp LEFT  &kp DOWN  &kp RIGHT
            >;

        raise_layer {
// -----------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    1    |    2    |    3    |    4    |    5    |    6    |    7    |    8    |    9    |    0    |    -    |    +    |
// |   TAB   |   F1    |   F2    |   F3    |   F4    |   F5    |   F6    |   F7    |   F8    |   F9    |   F10   |   F11   |   F12   |
// |  SHIFT  |         |         |         |         |         |         |         |         |         |         |         |         |
//                               |   GUI   |   DEL   | RETURN  |   TAB   |   BSPC  |  R ALT  |         |  LEFT   |  DOWN   |  RIGHT  |
            bindings = <
    &kp ESC    &kp Q    &kp W    &kp E     &kp R     &kp T      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH  &kp BSPC
    &kp TAB    &kp A    &kp S    &kp D     &kp F     &kp G      &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp RET
    &kp LSHIFT &kp Z    &kp X    &kp C     &kp V     &kp B      &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp UP    &kp SPACE
    &kp LCTRL  &LGUI    &kp LALT &kp LGUI  &mo 1     &kp SPACE  &kp SPACE &mo 2     &kp RALT  &kp RCTRL &kp LEFT  &kp DOWN  &kp RIGHT
            >;

        lower_layer {
// -----------------------------------------------------------------------------------------------------------------------------------
// |   ESC   |    Q    |    W    |    E    |    R    |    T    |    Y    |    U    |    I    |    O    |    P    |    \    |  BSPC   |
// |   TAB   |    A    |    S    |    D    |    F    |    G    |    H    |    J    |    K    |    L    |    ;    |    '    | RETURN  |
// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |    N    |    M    |    ,    |    .    |    /    |   UP    |         |
//                               |   GUI   |   DEL   | RETURN  |   TAB   |   BSPC  |  R ALT  |         |  LEFT   |  DOWN   |  RIGHT  |
            bindings = <
    &kp ESC    &kp Q    &kp W    &kp E     &kp R     &kp T      &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSLH  &kp BSPC
    &kp TAB    &kp A    &kp S    &kp D     &kp F     &kp G      &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &kp RET
    &kp LSHIFT &kp Z    &kp X    &kp C     &kp V     &kp B      &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &kp UP    &kp SPACE
    &kp LCTRL  &LGUI    &kp LALT &kp LGUI  &mo 1     &kp SPACE  &kp SPACE &mo 2     &kp RALT  &kp RCTRL &kp LEFT  &kp DOWN  &kp RIGHT
            >;

        };
    };
};
